body {
  padding-top: 80px; /* height of your navbar */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-link {
  margin-left: 34px;
  color: #666666 !important;
  font-size: 15px;
}
footer {
  background-color: #f7f6f6;
}

footer a {
  text-decoration: none;
  color: rgb(120, 120, 120);
  font-size: 15px;
  &:hover {
    color: #387ed1;
  }
}
